API_KEY=d7a31b2f8e9c
APP_URL=http://localhost:5173
PORT=3001
CORS_ORIGIN=http://localhost:5173
JWT_SECRET=yadsflihdfljha13432kjghdklsf
DB_MODE=database
DB_SSL=true
DATABASE_URL=postgresql://postgres.emjenzrcsotldqwqrdmt:Khag1234455%40@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
DOCS_USERNAME=admin
DOCS_PASSWORD=d7a31b2f8e9c
HTTPS_PFX_PATH=certs/localhost-dev.pfx
HTTPS_PFX_PASSPHRASE=your_passphrase